.container {
    position: relative;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0 4px 4px rgba(194,194,194,.5);
    padding: 100px 10px 70px;
    height: 420px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.container.merdeka {
    background-image: url('../../Images/bg-merdeka.png');
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat
}

.container.asiangames {
    background-image: url('../../Images/asiangames-left.png'), url('../../Images/asiangames-right.png');
    background-size: contain;
    background-position: left, right;
    background-repeat: no-repeat;
}

.btn-container {
    position: relative;
}

.btn {
    position: absolute;
    top: 0;
    left: 50%;
    outline: none;
    width: 100%;
    max-width: 300px;
    padding: 20px 0;
    color: #FFF;
    background-color: #4AA3F2;
    background: linear-gradient(to bottom, #4aa3f2 40%,#2b84d3 100%);
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(74, 74, 74, .25);
    transform: translate(-50%, -50%);
}

.btn.merdeka {
    background: #DA1F26;
    box-shadow: none;
    border-radius: 0;
}

.btn:disabled {
    color: #E0E0E0;
    background: #EEEEEE;
    box-shadow: none;
}

.textarea {
    width: 300px;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    resize: none;
}

.textarea.error {
    border-color: #E54848;
    position: relative;
    z-index: 2;
}

.textarea.merdeka {
    border-radius: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 1;
}

@media (max-width: 320px)  {
    .textarea {
        width: 100%;
    }

    .btn {
        width: 100%;
    }
}
